---
import "../css/generelt.css"
import Mainlayout from "../layouts/Mainlayout.astro"
---

<Mainlayout title="Forside">
<h1>Drop 10</h1>
<h2>300 DKK</h2>
<p>Vi prøver lige her</p>
<p class="infotekst">Hej hej hej</p>
</Mainlayout>