---
import "../css/generelt.css"
import "../css/afvigelser.css"
import Mainlayout from "../layouts/Mainlayout.astro"
---
<Mainlayout>
<main>
<img src="../../public/logoer/dessertlogo.png" alt="dessertlogo">
<h1 class="forside_h1">Italiensk vintage</h1>
</main>
</Mainlayout>

<style>
main{
    background-image: url(../../public/forside/forside_billede.png);
     background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--mahogany-red);
}
</style>