---
import "../css/generelt.css"
import Mainlayout from "../layouts/Mainlayout.astro"
---

<Mainlayout>
<h1>Drop 10</h1>
<h2>HEJ LAURA</h2>
<h3>HEJ HEJ HEJ</h3>
<p>Vi prøver lige her</p>
<p class="infotekst">Hej hej hej</p>
<p>Vi prøver igen</p>
<!-- Bassemand -->
</Mainlayout>