---
import Mainlayout from "../layouts/Mainlayout.astro";
import "../css/generelt.css"
---

<Mainlayout>
<div class="kontakt_side">
<h1>Kontakt</h1>
<p>Vi vil altid gerne hjælpe og svare på spørgsmål.</p>
<h2>Kundeservice for website</h2>
<p>Har du spørgsmål til vores koncept, tøjet, hjemmesiden eller dit køb, er du altid velkommen til at kontakte os. Vi vil altid gerne høre fra dig.</p>
<p>Du kan kontakte os på telefon, mail eller på sociale medier.</p>
<p class="mail"><a href="mailto:pyoma@kontakt.com">pyoma@kontakt.com</a></p>
<p><a href="tel:+4501020304">+45 01 02 03 04</a></p>
<h2>Åbningstider for kundeservice</h2>
<p>Mandag-fredag fra 9.00-16.00</p>
<p class="henvendelser">Vi forsøger på at besvare alle henvendelser inden for 24 timer på hverdage.</p>
<div class="form">
<form action="/submit" method="post">
   <p class"info">Tilmeld dig vores nyhedsbrev</p>
   <input type="text" placeholder="Indtast din Email" name="name">
</form>
</div>
</div>
</Mainlayout>

<style>
.kontakt_side {
    color: var(--mahogany-red);
    text-align: center;
    padding-inline: var(--mobile-40);
    max-width: 75ch; 
    margin-inline: auto;
    }

.mail{
    text-decoration: underline;
}
.form {
   color: var(--mahogany-red);
   text-align: center;
   margin-inline: auto;
   border-radius: 0;
   border: 1px; 
   border-color: var(--mahogany-red);
}

   input::placeholder {
    font-family: "minion_proregular";
    font-size: 12px;
    color: var(--mahogany-red);
}

p.henvendelser {
    padding-bottom: var(--desk-80);
}

input {
   border: solid 1px;
   border-color: var(--mahogany-red);
   padding: 5px;
   width: 300px;
}
</style>