---
import Mainlayout from "../layouts/Mainlayout.astro";
import "../css/generelt.css"
import "../css/afvigelser.css"
---

<Mainlayout>
<div class="om_container">
    <div class="om_firshead">
        <h1>Om Pyoma</h1>
        <p class="infotekst" id="pyoma_beskrivelse">“Pyoma er mere end blot et brand: det er en stemning og et univers.”</p>
    </div>
        <img class="yellow_shirt" src="/om_pyoma/tee_girl.webp" alt="pige i tee">
</div>
<section class="om_pyoma">

    <h2 id="fra_italien" class="om_sechead">Fra Italien til dig</h3>
    <p class="om_secp">Produkterne vi sælger på Pyoma kommer fra Italien. De skal give dig en fornemmelse af sommer, solnedgang og saltvand i håret. Med det sagt, så er det vigtigt at du kan bruge dit tøj hele året rundt. Vores fund er unikke, og nemme at sætte sammen med resten af din gaderope. Pyoma vil gerne inspirere dig til at elske det tøj du køber, og elske historien bag. Ikke et styk tøj er ens, og du vil måske opleve små brugsspor, da du ikke er den første som elsker det stykke. Grunden til at tøjet kan leve videre er fordi, vi kun finder items af god kvailtet. Vi gør en stor dyd ud af at inspirere dig til, at bruge tøjet på flere måder og hele året rundt. Derfor er vores hjemmeside bygget op omkring outfits, som kan inspirere dig. Du er velkommen til at købe hele outfittet, memn også tage det enkelte item ind i din gaderobe. På den måde bidrager du også til en mere bæredygtig og grøn verden.</p>
    
    <h2 id="standguide" class="om_thihead" >Standguide</h3>
    <div class="stand_container">
    <div class="pic_and_text">
    <p class="om_thip">Alle items har været elsket af en ejer før. Vi indkøber kun tøj i god stand, men vi kan ikke undgå, at tøjet har været elsket før. Vi operere med en skala der hedder som ny -  med brugsspor. Her under kan du se en tabel over, hvordan vi vurdere tøjets stand.</p>
    <img class="stativ_pic" src="/om_pyoma/jakker_stativ.webp" alt="jakker på tøjstativ">
   </div>
    
<div class="stand_tabel">
    <div class="som_ny">
        <p class="overskrift1">Som ny</p>
            <hr></hr>
        <p class="beskriv1">Produktet har ingen spor af at være brugt.</p>
    </div>
    <div class="perfekt">
        <p class="overskrift2">Perfekt</p>
            <hr></hr>
        <p class="beskriv2">Produktet er i perfekt stand, men kan have et lille slidspor et sted.</p>
    </div>
    <div class="god">
        <p class="overskrift3">God</p>
            <hr></hr>
        <p class="beskriv3">Produktet har små slidspor 1 sted. Det kan f.eks. være syningen der er gået op under ærmet.</p>
    </div>
    <div class="med_brugsspor">
       <p class="overskrift4">Med brugsspor</p>
            <hr></hr>
        <p class="beskriv4">Produktet har små slidspor 2-3 steder. Der kan også være spor af vask.</p>
    </div>
</div>
</div>

<h2 id="strguide" class="om_fouhead">Størrelsesguide</h3>
<div class="size_container">
<p class="om_foup">Der er forskel på danske og Italienske størrelse. I nogle af vores items står der ikke størrelser. Vi har vurderet hvilke størrelser tøjet er udefra tabellen nedenfor. Vi anbefaler at du måler dig selv, og følger tabellen.</p>
<img class="info_pic" src="/om_pyoma/størrelse_infopic.png" alt="kvinde med anvisninger">
<img class="size_guide" src="/om_pyoma/størrelsesguide.webp" alt="størrelsesguide">
</div>

<div class="fragt_container">
<div>
<h2 id="forsendelse" class="om_sixhead">Forsendelse & afhentning</h3>
<p class="om_sixp">Vi sender alle vores items fra Italien. Leveringstiden kan derfor variere, men vi bestræber på, at du modtager din pakke inden for en uge. Pyoma tager ikke ansvar for evt. told og skatter. Vi tilbyder gratis fragt på køb over 500 DKK. I nogle tilfælde kan du efter aftale hente din bestilling i København. Dette kan kun lade sig gøre, hvis du har været i kontakt med os inden.</p>
</div>
<div>
<h2 class="om_fifhead">Retur politik</h3>
<p class="om_fifp">Vi tager ikke vores items retur. Er du utilfreds med dit køb er du velkommen til at kontakte os, ellers anbefaler vi at giver tøjet videre, så vi holder det i en bæredygtig cyklus.</p>
<img src="/om_pyoma/binder_sko.webp" alt="binder sko">
</div>
</div>

<div class="instagram">
<h2 id="instagram" class="om_sevhead">Instagram</h3>
<a class="om_link" href="https://www.instagram.com/pyomavintage/">@pyomavintage</a>
</div>

<div class="instagram_container">
    <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/DDfNaf-NOzZ/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/DDfNaf-NOzZ/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">Vis dette opslag på Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/DDfNaf-NOzZ/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">Et opslag delt af PYOMA (@pyomavintage)</a></p></div></blockquote>
    <script async src="//www.instagram.com/embed.js"></script>
    <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/DDfNYkxNqHS/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/DDfNYkxNqHS/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">Vis dette opslag på Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/DDfNYkxNqHS/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">Et opslag delt af PYOMA (@pyomavintage)</a></p></div></blockquote>
    <script async src="//www.instagram.com/embed.js"></script>
</div>
</section>
</Mainlayout>

<style>

    .om_pyoma{
    margin-inline: var(--mobile-40);
}
    .om_firshead{
        color: var(--mahogany-red);
        text-align: center;
    }
    .om_sechead, .om_thihead, .om_fouhead, .om_sixhead, .om_sevhead{
        padding-top: var(--mobile-80);
    }
    #pyoma_beskrivelse{
        padding: var(--mobile-20);
    }
    .yellow_shirt{
        margin-left: 40px; /* Giver 40px luft til venstre */
    }
    .stand_tabel{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 6px;
    }
    .som_ny, .perfekt, .god, .med_brugsspor{
    border-style: solid;
    border-color: var(--mahogany-red);
    border-width:thin;
}
    .overskrift1, .overskrift2, .overskrift3, .overskrift4{
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
    .beskriv1, .beskriv2, .beskriv3, .beskriv4{
    padding: 10px;
}
    .info_pic{
    padding-top: var(--mobile-20);
}
    .om_fifhead{
    padding-top: var(--mobile-20);
}
    .om_sixp, .om_thip, .om_fifp, .stativ_pic {
    padding-bottom: var(--mobile-20);
}
    .om_link{
      text-decoration: underline;
}
    .instagram{
      padding-bottom: var(--mobile-20);
}

/*DESKTOP */
   @media(min-width:650px){
    .om_pyoma{
    margin-inline: var(--desk-20);
}
/* Mellemrum mellem de forskellige afsnit */
.om_container, .om_secp, .stand_container, .size_container{
    padding-bottom: var(--desk-160);
}
/* Mellemrum mellem overskrift og brødteksten */
.om_sechead, .om_thihead, .om_fouhead, .om_fifhead, .om_sixhead, .om_sevhead, .om_fifp{
    padding-bottom: var(--desk-20);
}
.om_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
.om_firshead{
    place-self: center;
}
.yellow_shirt{
    object-fit: cover;
    height: 49rem;
    place-items: end;

}
.om_secp{
     column-count: 2; /* Antallet af kolonner */
    column-gap: 60px; /* Afstanden mellem kolonnerne */
}
.om_thip{
    padding-bottom: var(--desk-40);
}
.stand_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 60px;
}
.pic_and_text{
    grid-row: 1/3;
}
.stand_tabel {
    padding-left: 5rem;
    padding-top: 0;
  }
.size_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    gap: 60px;
}
.info_pic{
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: var(--desk-80);
    padding-top:0;
}
.size_guide{
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 5rem;
}
.fragt_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
        gap: 60px;
}
.om_fifhead, .om_sixhead{
    padding-top: 0;
}
.instagram_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  place-items: center;
}
}
   @media(min-width:1000px){
    .om_pyoma{
    margin-inline: var(--desk-160);
}
   }
</style>
