---
import Mainlayout from "../layouts/Mainlayout.astro";
import "../css/generelt.css"
import "../css/afvigelser.css"
---

<Mainlayout>

<div class="om_firshead">
    <h1>Om Pyoma</h1>
    <p class="infotekst" id="pyoma_beskrivelse">“Pyoma er mere end blot et brand: det er en stemning og et univers.”</p>
</div>
    <img class="yellow_shirt" src="/om_pyoma/tee_girl.webp" alt="pige i tee">
    <h2 class="om_sechead">Fra Italien til dig</h3>
    <p class="om_secp">Produkterne vi sælger på Pyoma kommer fra Italien. De skal give dig en fornemmelse af sommer, solnedgang og saltvand i håret. Med det sagt, så er det vigtigt at du kan bruge dit tøj hele året rundt. Vores fund er unikke, og nemme at sætte sammen med resten af din gaderope. Pyoma vil gerne inspirere dig til at elske det tøj du køber, og elske historien bag. Ikke et styk tøj er ens, og du vil måske opleve små brugsspor, da du ikke er den første som elsker det stykke. Grunden til at tøjet kan leve videre er fordi, vi kun finder items af god kvailtet.</p>
    <h2 id="standguide" class="om_thihead" >Standguide</h3>
    <p class="om_thip">Alle items har været elsket af en ejer før. Vi indkøber kun tøj i god stand, men vi kan ikke undgå, at tøjet har været elsket før. Vi operere med en skala der hedder som ny -  med brugsspor. Her under kan du se en tabel over, hvordan vi vurdere tøjets stand.</p>

<div class="stand_tabel">
    <div class="som_ny">
        <p class="overskrift1">Som ny</p>
            <hr></hr>
        <p class="beskriv1">Produktet har ingen spor af at være brugt.</p>
    </div>
    <div class="perfekt">
        <p class="overskrift2">Perfekt</p>
            <hr></hr>
        <p class="beskriv2">Produktet er i perfekt stand, men kan have et lille slidspor et sted.</p>
    </div>
    <div class="god">
        <p class="overskrift3">God</p>
            <hr></hr>
        <p class="beskriv3">Produktet har små slidspor 1 sted. Det kan f.eks. være syningen der er gået op under ærmet.</p>
    </div>
    <div class="med_brugsspor">
       <p class="overskrift4">Med brugsspor</p>
            <hr></hr>
        <p class="beskriv4">Produktet har små slidspor 2-3 steder. Der kan også være spor af vask.</p>
    </div>
</div>

<h2 id="strguide" class="om_fouhead">Størrelsesguide</h3>
<p class="om_foup">Der er forskel på danske og Italienske størrelse. I nogle af vores items står der ikke størrelser. Vi har vurderet hvilke størrelser tøjet er udefra tabellen nedenfor. Vi anbefaler at du måler dig selv, og følger tabellen.</p>
<img class="info_pic" src="/om_pyoma/størrelse_infopic.png" alt="kvinde med anvisninger">
<img class="size_guide" src="/om_pyoma/størrelsesguide.webp" alt="størrelsesguide">
<h2 class="om_fifhead">Retur politik</h3>
<p class="om_fifp">Vi tager ikke vores items retur. Er du utilfreds med dit køb er du velkommen til at kontakte os, ellers anbefaler vi at giver tøjet videre, så vi holder det i en bæredygtig cyklus.</p>
<h2 class="om_sixhead">Forsendelse & afhentning</h3>
<p class="om_sixp">Vi sender alle vores items fra Italien. Leveringstiden kan derfor variere, men vi bestræber på, at du modtager din pakke inden for en uge. Pyoma tager ikke ansvar for evt. told og skatter. Vi tilbyder gratis fragt på køb over 500 DKK. I nogle tilfælde kan du efter aftale hente din bestilling i København. Dette kan kun lade sig gøre, hvis du har været i kontakt med os inden.</p>
<img src="/om_pyoma/binder_sko.webp" alt="binder sko">
<h2 class="om_sevhead">Instagram</h3>
<a class="om_link" href="https://www.instagram.com/pyomavintage/">@pyomavintage</a>

</Mainlayout>

<style>
    .om_firshead{
        color: var(--mahogany-red);
        text-align: center;
        padding: var(--moblie-40);
    }
    .om_sechead, .om_thihead, .om_fouhead, .om_fifhead, .om_sevhead{
        padding-top: var(--mobile-80);
    }
    #pyoma_beskrivelse{
        padding: var(--mobile-20);
    }
    .yellow_shirt{
  margin-left: 40px; /* Giver 40px luft til venstre */
    }
    .stand_tabel{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 6px;
        padding-top: var(--mobile-20);
    }
.som_ny, .perfekt, .god, .med_brugsspor{
    border-style: solid;
    border-color: var(--mahogany-red);
    border-width: medium;
}
.overskrift1, .overskrift2, .overskrift3, .overskrift4{
    text-align: center;
font-weight: bold;
padding: 5px;
}
.beskriv1, .beskriv2, .beskriv3, .beskriv4{
    padding: 10px;
}
.info_pic
.size_guide

</style>
