---
import "../css/generelt.css"
---

<article>
<hr></hr>
<div class="footer">
   <ul>
<li><a href="/kontakt">KONTAKT</a></li>
<li><a href="/om_pyoma#forsendelse">RETUR POLITIK</a></li>
<li><a href="/om_pyoma#forsendelse">FORSENDELSE & AFHENTNING</a></li>
<li><a href="">COOKIES & PRIVACY POLICY</a></li>
<div class="ikoner">
<a href="https://www.instagram.com/pyomavintage/"><img src="/instagram.svg" alt="insta"></a>
<a href="https://www.tiktok.com/@pyomavintage"><img src="/tiktok.svg" alt="tiktok"></a>
</div>
   </ul>
<div class="logo">
   <a href=""><img src="/logoer/redlogo.png" alt="logo"></a>
</div>
</div>

<div class="form">
<form action="/submit" method="post">
   <p class="info">Tilmeld dig vores nyhedsbrev:</p>
   <input type="text" placeholder="Indtast din Email" name="name">
</form>
</div>
</article>
<style>
/* MOBILE VERSION */
article {
   margin: var(--mobile-20);
}

input::placeholder {
font-family: "minion_proregular";
  font-size: 12px;
  color: var(--mahogany-red);
}

input {
   border: solid 1px;
   border-color: var(--mahogany-red);
   padding: 5px;
   width: 300px;
}

.footer {
   display: grid;
   grid-template-columns: 3fr 1fr; 
   line-height: 2rem;
  
}

.logo {
   width: 7rem;
   height: 7rem;
   grid-column: 3/3;
}

.form {
   color: var(--mahogany-red);
   text-align: center;
   margin-inline: auto;
   border-radius: 0;
   border: 1px; 
   border-color: var(--mahogany-red);
}

.ikoner {
   width: 4rem;
   height: 4rem;
   display: grid;
   grid-template-columns: 1fr 1fr; 
}

/* DESKTOP VERSION */
 @media(min-width:650px){

   article {
   margin: var(--desk-40);
}

.form {
display: flex;
justify-content: flex-end;
margin-top: -80px; 
}

 }

</style>