---
import "../css/generelt.css"
import "../css/afvigelser.css"
---


<hr width="100%" size="2" color="blue" noshade>
  
<div class="footer">
<div>
<a href="">KONTAKT</a>
<a href="">RETUR POLITIK</a>
<a href="">FORSENDELSE & AFHENTNING</a>
<a href="">COOKIES & PRVACY POLICY</a>
</div>
<div class="logo">
   <a href=""><img src="/logoer/redlogo.png" alt="logo"></a>
</div>
</div>
<style>
/* MOBILE VERSION */
.footer {
   display: grid;
   grid-template-columns: 1fr 1fr; 

}

img {
   width:30 rem;
   height:30 rem;
}


/* DESKTOP VERSION */
 @media(min-width:650px){
    {}
 }

</style>