---
const { title } = Astro.props;
import HeaderDessert from "../components/Header_dessert.astro";
import Footer from "../components/Footer.astro";
import "../css/generelt.css"
import "../css/afvigelser.css"
---

<!doctype html>
<html lang="da">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com"> <!--Henter Google-font -->
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!--Henter Google-font -->
		<link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet"> <!--Henter Google-font -->
		<title>{title}</title>
	</head>
	<body>
    <HeaderDessert />
    <main>
      <h1>{title}</h1>
      <slot />
    </main>
    <Footer/>
  </body>
</html>

<style>
	
</style>
