* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  /* Colors */
  --black: #000000;
  --mahogany-red: #4c0000;
  --light-mahogany-red: #900c0d;
  --desert-storm-white: #faf8f6;
  --white: #ffffff;
}

h1 {
  font-family: "Kapakana";
  font-size: 84px;
}

h2 {
  font-family: "Minion Pro";
  font-size: 55px;
  font-weight: bold;
}

h3 {
  font-family: "Minion Pro";
  font-size: 36px;
  font-weight: bold;
}

p {
  font-family: "Minion Pro";
  font-size: 24px;
}

.infotekst {
  font-family: "Minion Pro";
  font-size: 16px;
}
